@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* --color-brand-primary: #000;
    --color-brand-secondary: #000;
    --color-brand-other: #0000f4; */

    --color-brand-primary: #375aff;
    --color-brand-secondary: #000;
    --color-brand-other: #0000f4;
}

* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}
.top-section {
    text-align: center;
    background: url(../images/top_bg_img.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 70px;
}

.top-section .heading {
    color: #fff;
    padding: 120px 0 60px;
    font-weight: 700;
    font-size: 55px;
    line-height: 1.33em;
    letter-spacing: -0.01em;
}
.top-section .heading p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
}

.contact-area {
    padding: 10px 20px;
    justify-content: space-between;
}

.title-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--color-brand-primary);
    border-radius: 50% 0 50% 50%;
    color: #fff;
    margin-right: 15px;
}

.contact-area .call-us h2,
.contact-area .text-us h2,
.title h2 {
    color: #000;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 0 !important;
}
.contact-area button {
    width: 140px;
    height: 45px;
    font-size: 20px;
    border-radius: 25px;
    border: 1px solid #ddd;
    background-color: var(--color-brand-primary);
    color: #fff;
}

.contact-area button:hover,
.content .submit input:hover {
    background-color: var(--color-brand-other);
    transition: 0.4s;
}

section {
    margin: 60px auto;
}

.titlewithicon {
    display: flex;
}
.wrap .title .sub {
    font-size: 20px;
    font-weight: 500;
    color: #686868;
    margin-left: 50px;
}
.wrap .title a {
    text-decoration: none;
    font-size: 16px;
    color: var(--color-brand-primary);
    font-weight: 600;
}

.content div {
    margin-bottom: 10px;
}
.content div label {
    font-size: 16px;
    font-weight: 600;
}

.content div input,
.content div select,
.content div textarea {
    border: 1px solid #ddd;
    width: 100%;
    height: 50px;
    padding: 7px 10px;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.2s;
}
.content div select {
    cursor: pointer;
}
.content div textarea {
    height: auto;
}
.content div select:hover,
.content div input:hover,
.content div textarea:hover {
    border: 1px solid var(--color-brand-primary);  
}
.content .submit input {
    width: fit-content;
    width: 160px;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: var(--color-brand-primary);
    color: #fff;
}
.content .submit input:hover {
    border: transparent;
}

/* FAQ section starts here */
.faq .questions .question {
    margin: 5px auto;
    width: 100%;
    background-color: #f7f9fb;
    padding: 14px 30px;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-brand-secondary);
    font-size: 16px;
    font-weight: 600;
}
.faq .questions .question span {
    margin-top: -7px;
}

.answer {
    display: none;
    padding: 30px 85px 30px 65px;

}
.answer p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}
#first-answer {
    display: inline-block;
}
.plusminus {
    float: right;
    font-size: 28px;
    font-weight: 200;
    color: #555;
}
/* FAQ section ends here */

/* responsive design codes */
@media screen and (max-width: 767px) {
    .contact-area {
        gap: 20px;
    }
    .text-us, .call-us {
        margin: auto;
    }
    .button2 {
        margin-left: 30px;
    }
    .title {
        margin-bottom: 20px;
    }
    .faq .questions .question {
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
    }
  }
@media screen and (max-width:575px) {
    .top-section .heading {
        padding: 80px 0 40px;
    }
    .top-section .heading1 {
        font-weight: 400;
        font-size: 35px;
    }
    .top-section .heading p {
        font-size: 14px;
        font-weight: 300;
    }
    .contact-area .call-us h2,
    .contact-area .text-us h2,
    .title h2{
        font-size: 25px;
    }
    .contact-area button,
    .content .submit input {
        width: 100px;
        height: 40px;
        font-size: 16px;
    }
    .title-icons {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }
    section {
        margin: 40px 0;
    }
    .faq .questions .question {
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
    }
}
@media screen and (max-width:376px) {
    .top-section .heading {
        padding: 70px 0 30px;
    }
    .top-section .heading1 {
        font-weight: 300;
        font-size: 25px;
        line-height: 0.5em;
    }
    .top-section .heading p {
        font-size: 12px;
        font-weight: 200;
    }
    .contact-area .call-us h2,
    .contact-area .text-us h2,
    .title h2{
        font-size: 20px;
    }
    .contact-area button,
    .content .submit input {
        width: 80px;
        height: 30px;
        font-size: 14px;
    }
    .title-icons {
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    section {
        margin: 20px 0;
    }
    .faq .questions .question {
        padding: 8px 15px;
        font-size: 12px;
    }
    .contact-area {
        gap: 8px;
    }
    .button2 {
        margin-left: 20px;
    }
}